body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    flex-direction: column;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;


    border-radius: 10px;
}

.signup-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.signup-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.ActionBtns {
    display: flex;

    align-items: center;
    flex-direction: column;

}

.loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid var(--primary-light);
    width: 30px;
    height: 30px;

}


@media only screen and (max-width: 768px) {
    h1 {
        line-height: 0.5 !important;
    }

    .signup {
        width: 80vw !important;
        height: 60vh !important;

    }

    .signup-items {

        gap: 5px !important;
    }

    .signup-item {

        gap: 0px !important;
    }

    .ActionBtns {
        display: flex;
        flex-direction: row !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 20px;
    }
}